<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <hr>
            <h1>Hi {{user.username}}! This is your profile</h1>
            <hr>

            <p> {{user.profileImg}}</p>
            <p>Nickname: {{user.username}}</p>

            <a class="btn btn-dark" href="/profile/{{user.id}}/edit">Edit your profile</a>

            <hr>
            <h1>My movies</h1>
            <hr>

            <p>Watched movies: {{watched}}</p>
            <p>Pending movies: {{pending}}</p>
            <a class="btn btn-dark" href="/">Edit your movies</a>
        </div>

    </div>
</div>