<div class="container container-profiledesign">
    <div class="row justify-content-between">
        <div class="col-md-3 avatar-profile">
            <h2>Hi {{user.username}}!</h2>
            <p>This is your profile</p>
            <hr>
            <img class="avatar-design" src="{{user.avatar}}" width="200" height="200">
            <hr>
            <a id="button-profile" class="btn btn-dark" href="/profile/{{user.id}}/edit">Edit your profile</a>
        </div>
        <div class="col-md-7 mb-3 movies-avatar">
            <div class="row">
                <div class="col">
                    <h3>Pending movies</h3>
                    <div class="row">
                        {{#each pendingMovies}}
                        <div class="col-4 mt-4"><img src="{{this.image}}" alt="{{this.title}}">
                            <p>{{this.title}}</p>
                        </div>
                    </div>
                    {{#unless @last}}
                    <hr>{{/unless}}
                    {{/each}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3>Watched movies</h3>
                    <div class="row"></div>
                    {{#each watchedMovies}}

                    <a href="/search/movie/{{this.api_id}}">
                        <div class="row">
                            <div class="col mt-4">
                                <img src="{{this.image}}" alt="{{this.title}}">
                                <p>{{this.title}}</p>
                            </div>
                    </a>
                    {{/each}}
                </div>
            </div>
        </div>

    </div>
</div>
</div>