<div class="container container-profiledesign">
    <div class="row justify-content-between">


        <div class="col-md-3 avatar-profile">
            <h2>Hi {{user.username}}!</h2>
            <p>This is your profile</p>
            <hr>
            <img class="avatar-design" src="{{user.avatar}}" width="200" height="200">
            <hr>
            <a id="button-profile" class="btn btn-dark" href="/profile/{{user.id}}/edit">Edit your profile</a>
        </div>

        <div class="col-md-9 avatar-profile">

            {{#if pendingMovies}}

            <div class="glide">
                <h3>Pending movies</h3>
                <hr>
                <div class="glide__track" data-glide-el="track">
                    <div class="glide__slides">
                        {{#each pendingMovies}}
                        <div class="glide__slide">
                            <a href="/search/movie/{{this.api_id}}" class="text-decoration-none">

                                <figure>
                                    <img src="{{this.image}}" alt="{{this.title}}" width="140" height="180">
                                    <p>{{this.title}}</p>
                                </figure>

                            </a>
                            <a href="/profile/delete-pending-movie?id={{this.id}}"
                                class="btn btn-sm btn-dark">Remove</a>
                        </div>
                        {{/each}}
                    </div>
                </div>

                <div class="glide">
                    <div class="glide__arrows" data-glide-el="controls">
                        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
                        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
                    </div>
                </div>

            </div>
            {{/if}}


            <hr>
            {{#if watchedMovies}}

            <div class="glide">
                <h3>Watched movies</h3>
                <hr>
                <div class="glide__track" data-glide-el="track">
                    <div class="glide__slides">
                        {{#each watchedMovies}}
                        <div class="glide__slide">
                            <a href="/search/movie/{{this.api_id}}">
                                <figure>
                                    <img src="{{this.image}}" alt="{{this.title}}" width="140" height="180">
                                    <figcaption>
                                        <p>{{this.title}}</p>
                                    </figcaption>
                                </figure>
                            </a>
                            <a href="/profile/delete-watched-movie?id={{this.id}}"
                                class="btn btn-sm btn-dark">Remove</a>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="glide">
                    {{!-- <div class="glide__track" data-glide-el="track">...</div> --}}
                    <div class="glide__arrows" data-glide-el="controls">
                        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
                        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
                    </div>
                </div>
            </div>
        </div>
</div>
        <script src="https://unpkg.com/@glidejs/glide@3.4.1/dist/glide.min.js"></script>
        <script>
            new Glide('.glide', {
                type: 'carousel',
                focusAt: 'center',
                perView: 4,
                gap: 5,
            }).mount()
        </script>
        {{/if}}
</div>